[Unit]
Description=Tesla Wall Charger Manager
After=syslog.target network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/TWCManager
ExecStart=/usr/bin/python3 -u -m TWCManager
Restart=always
StartLimitInterval=60s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
