<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TWCManager</title>
    {% include 'bootstrap.html.j2' %}
  </head>
  <body>
    {% include 'navbar.html.j2' %}
    Debug Interface - Coming soon

    <h2>Advanced Settings</h2>
    These advanced settings can alter the way that the TWCManager operates, potentially causing 
    <table>
      <tr>
        <td>Spike Amps</td>
        <td>Proactively</td>
        <td>Reactively</td>
    </table>
  </body>
</html>
