{% if url.path == "/teslaAccount/unknown" %}
   <font color='red'>
     <b>Sorry, an unknown error has occurred when trying to fetch your tokens.</b>
   </font>
{% elif url.path == "/teslaAccount/invalid_grant" %}
  <font color='red'>
    <b>Tesla API reports that the grant provided is invalid. This usually happens if you use an older URL response and restart TWCManager. Please perform the login process again.</b>
  </font>
{% elif url.path == "/teslaAccount/response_no_token" %}
  <font color='red'>
    <b>The Tesla API did not provide an access token in the token response.</b>
  </font>
{% elif url.path == "/teslaAccount/success" %}
  <font color="blue">
    <b>Success, your Tesla API tokens have been stored.</b>
  </font>
{% endif %}

{% if not master.teslaLoginAskLater
      and not master.tokenSyncEnabled()
      and url.path != "/teslaAccount/success" %}
      <!-- Check if we have already stored the Tesla credentials
           If we can access the Tesla API okay, don't prompt -->
      {% if not apiAvailable %}
          {% include 'request_teslalogin.html.j2' %}
      {% endif %}
{% endif %}
