<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TWCManager</title>
    {% include 'bootstrap.html.j2' %}
    {% include 'jsrefresh.html.j2' %}
    <script type="text/javascript" src="/static/js/status.js"></script>
  </head>
  <body>
    {% include 'navbar.html.j2' %}
    <table border='0' padding='0' margin='0' width='100%'>
      <tr width='100%'>
        <td valign='top' width='70%'>
          {% include 'handle_teslalogin.html.j2' %}
          {% if master.lastSaveFailed %}
             <font color=red>
               <b>We experienced an error trying to save your settings. This means that while your current settings will be retained for the current session, they will not be saved if TWCManager exits. Please check the permissions on /etc/twcmanager/settings.json and try saving your settings again.</b>
             </font>
          {% endif %}

          {% include 'showStatus.html.j2' %}
        </td>
        <td valign=top width='30%'>
            {{ doChargeSchedule()|safe }}
        </td>
      </tr>
    </table>
  </div>
</html>


