<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TWCManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavTWC" aria-controls="navbarNavTWC" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavTWC">
        <ul class="navbar-nav mr-auto">
          {{ navbarItem("/", "Home")|safe }}
          {{ navbarItem("/policy", "Policy")|safe }}
          {{ navbarItem("/schedule", "Schedule")|safe }}
          {{ navbarItem("/vehicles", "Vehicles")| safe }}
          {{ navbarItem("/graphs", "Graphs")|safe }}
          {{ navbarItem("/debug", "Debug")|safe }}
          {{ navbarItem("/settings", "Settings")|safe }}
          {{ navbarItem("https://github.com/ngardiner/TWCManager", "GitHub", "_blank")|safe }}
        </ul>
        <span class='navbar-text' id="currentServerTime"></span>
        <span class='navbar-text'>v{{ master.version }}</span>
        {% if checkForUpdates() %}
            &nbsp;
            <span class='navbar-text'>(<a href="/upgradePrompt">v{{ checkForUpdates() }} Available</a>)</span>
        {% endif %}
   </div>
</nav>
<div class='container-fluid'>
