<form action='/teslaAccount/saveToken' method='POST'>
  <p>TWCManager uses Tesla API to start and stop Tesla vehicles you own from charging.
  </p>

  <input type=hidden name='page' value='tesla-login' />
  <p>
    <table>
      To log in to your Tesla account, please do the following:
      <tr>
        <td><b>Step 1</b></td>
        <td>Click the following link: <a href="https://auth.tesla.com/oauth2/v3/authorize?client_id=ownerapi&code_challenge={{ apiChallenge()[0] }}&code_challenge_method=S256&redirect_uri=https%3A%2F%2Fauth.tesla.com%2Fvoid%2Fcallback&response_type=code&scope=openid+email+offline_access&state={{ apiChallenge()[1] }}" target="_blank">Tesla Login</a></td>
      </tr>
      <tr>
        <td><b>Step 2</b></td>
        <td>After you login, you'll be redirected to a <b>Page Not Found</b> page with an auth.tesla.com URL. Copy the URL from your browser bar.</td>
      </tr>
      <tr>
        <td><b>Paste the URL here:</b></td>
        <td><input name="url" size=70> </td>
      </tr>
      <tr>
        <td>
          {{ addButton(
              ["later", "Save API Key"],
              "class='btn btn-outline-info' name='save'",
          )|safe }}
        </td>
        <td>
          {{ addButton(
              ["later", "Ask Me Later"],
              "class='btn btn-outline-info' name='later'",
          )|safe }}
        </td>
      </tr>
    </table>
  </p>
</form>
